<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89210748183-qj6cl50hga7oi56gfqlqjnmplreigm2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89210748183-qj6cl50hga7oi56gfqlqjnmplreigm2o</string>
	<key>API_KEY</key>
	<string>AIzaSyCJZPianXR31L85Aw07PV69OIVa_dcNGKQ</string>
	<key>GCM_SENDER_ID</key>
	<string>89210748183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uirozwang.Deadline</string>
	<key>PROJECT_ID</key>
	<string>deadline-2c1b3</string>
	<key>STORAGE_BUCKET</key>
	<string>deadline-2c1b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89210748183:ios:ab752fa30f9585ea210b52</string>
</dict>
</plist>